In [1]:
import acquire
import prepare
import pandas as pd

## Mini Exercise

1. Load the titanic dataset that you've put together from previous lessons.

2. Split your data into training and test.

In [2]:
df = acquire.get_titanic_data()

In [3]:
scaler, encoder, train, test = prepare.prep_titanic(df)

In [4]:
train.sample(4)

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,alone,age_imputed,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton,age_imputed_scaled,fare_scaled
493,493,0,1,male,71.0,0,0,49.5042,C,First,1,71.0,1.0,0.0,0.0,0.886906,0.096626
725,725,0,3,male,20.0,0,0,8.6625,S,Third,1,20.0,0.0,0.0,1.0,0.246042,0.016908
743,743,0,3,male,24.0,1,0,16.1000,S,Third,0,24.0,0.0,0.0,1.0,0.296306,0.031425
34,34,0,1,male,28.0,1,0,82.1708,C,First,0,28.0,1.0,0.0,0.0,0.346569,0.160387

3. Fit a logistic regression model on your training data using sklearn's
   linear_model.LogisticRegression class. Use fare and pclass as the
   predictors.

In [5]:
from sklearn.linear_model import LogisticRegression

In [6]:
X_train = train[["fare", "pclass"]]
y_train = train[["survived"]]

In [7]:
X_train.sample(4)

        fare  pclass
178  13.0000       2
407  18.7500       2
457  51.8625       1
638  39.6875       3

In [8]:
logit = LogisticRegression(random_state=123)

In [9]:
logit.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=123, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [10]:
logit.coef_

array([[ 0.00522517, -0.61956749]])

In [11]:
logit.intercept_

array([0.77632059])

4. Use the model's .predict method. What is the output?

In [12]:
y_pred = logit.predict(X_train)

In [13]:
y_pred

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0])

5. Use the model's .predict_proba method. What is the output? Why do you
   think it is shaped like this?

In [14]:
y_pred_proba = logit.predict_proba(X_train)

In [15]:
y_pred_proba

array([[0.29836466, 0.70163534],
       [0.73159302, 0.26840698],
       [0.73922226, 0.26077774],
       ...,
       [0.73903759, 0.26096241],
       [0.73971723, 0.26028277],
       [0.7392139 , 0.2607861 ]])

6. Evaluate your model's predictions on the test data set. How accurate
   is the mode? How does changing the threshold affect this?

In [16]:
print('Accuracy of Logistic Regression classifier on training set: {:.2%}'
     .format(logit.score(X_train, y_train)))

Accuracy of Logistic Regression classifier on training set: 67.66%

# Logistic Regression

## Exercise
In this exercise, we'll continue working with the titanic dataset and building logistic regression models. Throughout this exercise, be sure you are training, evaluation, and comparing models on the train and validate datasets. The test dataset should only be used for your final model.

For all of the models you create, choose a threshold that optimizes for accuracy.

1. Create another model that includes age in addition to fare and pclass. Does this model perform better than your previous one?

In [17]:
import sklearn.preprocessing

In [18]:
titanic = acquire.get_titanic_data()
scaler, encoder, train, test = prepare.prep_titanic(titanic)
train,validate = sklearn.model_selection.train_test_split(train, train_size=.75, random_state=123)

In [19]:
train.shape

(501, 17)

In [20]:
validate.shape

(167, 17)

In [21]:
train.isna().sum()

passenger_id                 0
survived                     0
pclass                       0
sex                          0
age                        101
sibsp                        0
parch                        0
fare                         0
embarked                     2
class                        0
alone                        0
age_imputed                  0
embark_town_Cherbourg        0
embark_town_Queenstown       0
embark_town_Southampton      0
age_imputed_scaled           0
fare_scaled                  0
dtype: int64

In [22]:
train.sample(4)

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,alone,age_imputed,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton,age_imputed_scaled,fare_scaled
122,122,0,2,male,32.5,1,0,30.0708,C,Second,0,32.500000,1.0,0.0,0.0,0.403116,0.058694
28,28,1,3,female,NaN,0,0,7.8792,Q,Third,1,29.934329,0.0,1.0,0.0,0.370876,0.015379
680,680,0,3,female,NaN,0,0,8.1375,Q,Third,1,29.934329,0.0,1.0,0.0,0.370876,0.015883
286,286,1,3,male,30.0,0,0,9.5000,S,Third,1,30.000000,0.0,0.0,1.0,0.371701,0.018543

In [23]:
X_train = train[["age_imputed", "fare", "pclass"]]
y_train = train.survived

In [24]:
model = LogisticRegression(random_state=123)

In [25]:
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=123, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [26]:
predictions = pd.DataFrame({"Actual": y_train})
predictions["model1"]= model.predict(X_train)

In [27]:
predictions.head(2)

     Actual  model1
254       0       0
557       0       1

In [28]:
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [29]:
accuracy_score(predictions.Actual, predictions.model1)

0.6966067864271457

In [30]:
precision_score(predictions.Actual, predictions.model1, average=None)

array([0.69518717, 0.7007874 ])

In [31]:
#this one gove the average score of the above
precision_score(predictions.Actual, predictions.model1)

0.7007874015748031

In [32]:
recall_score(predictions.Actual, predictions.model1, average=None)

array([0.87248322, 0.43842365])

In [33]:
recall_score(predictions.Actual, predictions.model1)

0.43842364532019706

2. Include sex in your model as well. Note that you'll need to encode this feature before including it in a model.

In [34]:
le = sklearn.preprocessing.LabelEncoder()

In [35]:
le = sklearn.preprocessing.LabelEncoder()
train['sex_encoded'] = le.fit_transform(train.sex)
test['sex_encoded'] = le.transform(test.sex)
validate['sex_encoded'] = le.transform(validate.sex)

In [36]:
train.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,alone,age_imputed,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton,age_imputed_scaled,fare_scaled,sex_encoded
254,254,0,3,female,41.0,0,2,20.2125,S,Third,0,41.000000,0.0,0.0,1.0,0.509927,0.039452,0
557,557,0,1,male,NaN,0,0,227.5250,C,First,1,29.934329,1.0,0.0,0.0,0.370876,0.444099,1
238,238,0,2,male,19.0,0,0,10.5000,S,Second,1,19.000000,0.0,0.0,1.0,0.233476,0.020495,1
655,655,0,2,male,24.0,2,0,73.5000,S,Second,0,24.000000,0.0,0.0,1.0,0.296306,0.143462,1
828,828,1,3,male,NaN,0,0,7.7500,Q,Third,1,29.934329,0.0,1.0,0.0,0.370876,0.015127,1

In [37]:
X_train1 = train[["age_imputed", "fare", "pclass", "sex_encoded"]]

In [38]:
model.fit(X_train1, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=123, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [39]:
predictions["model2"]= model.predict(X_train1)

In [40]:
accuracy_score(predictions.Actual, predictions.model2)

0.8083832335329342

In [41]:
precision_score(predictions.Actual, predictions.model2)

0.7801047120418848

In [42]:
recall_score(predictions.Actual, predictions.model2)

0.7339901477832512

3. Try out other combinations of features and models.

In [43]:
X_train2 = train[["age_imputed", "alone", "pclass", "sex_encoded"]]

In [44]:
model.fit(X_train2, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=123, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [45]:
predictions["model3"]= model.predict(X_train2)

In [46]:
accuracy_score(predictions.Actual, predictions.model3)

0.810379241516966

In [47]:
precision_score(predictions.Actual, predictions.model3)

0.7903225806451613

In [48]:
recall_score(predictions.Actual, predictions.model3)

0.7241379310344828

4. Choose you best model and evaluate it on the validate dataset. Is it overfit?

In [49]:
X_validate = validate[["age_imputed", "alone", "pclass", "sex_encoded"]]

In [50]:
actual = validate.survived
yhat = model.predict(X_validate)

In [51]:
accuracy_score(actual, yhat)

0.7365269461077845

In [52]:
precision_score(actual, yhat)

0.6037735849056604

In [53]:
recall_score(actual, yhat)

0.5818181818181818

In [54]:
train.age.describe()

count    400.000000
mean      29.756900
std       14.579253
min        0.420000
25%       21.000000
50%       29.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

**Bonus:** How do different strategies for handling the missing values in the age column affect model performance?

In [55]:
train.age.isna().sum()

101

In [56]:
train.columns

Index(['passenger_id', 'survived', 'pclass', 'sex', 'age', 'sibsp', 'parch',
       'fare', 'embarked', 'class', 'alone', 'age_imputed',
       'embark_town_Cherbourg', 'embark_town_Queenstown',
       'embark_town_Southampton', 'age_imputed_scaled', 'fare_scaled',
       'sex_encoded'],
      dtype='object')

In [57]:
train_drop = train.dropna()

In [58]:
model = LogisticRegression(random_state=123)

In [59]:
X_train_drop = train_drop[["age", "alone", "pclass", "sex_encoded"]]

In [60]:
y_train_drop = train_drop.survived

In [61]:
model.fit(X_train_drop, y_train_drop)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=123, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [62]:
yhat_drop = model.predict(X_train_drop)

In [63]:
accuracy_score(y_train_drop, yhat_drop)

0.8090452261306532

In [64]:
precision_score(y_train_drop, yhat_drop)

0.8145695364238411

In [65]:
recall_score(y_train_drop, yhat_drop)

0.7192982456140351

In [66]:
train.age.mean()

29.7569

In [67]:
train.age.median()

29.0

In [68]:
train.age.max()

80.0

In [69]:
train.age.min()

0.42

In [70]:
train.age.mode()

0    24.0
dtype: float64

**Bonus**: scikit-learn's LogisticRegression classifier is actually applying a regularization penalty to the coefficients by default. This penalty causes the magnitude of the coefficients in the resulting model to be smaller than they otherwise would be. This value can be modified with the C hyper parameter. Small values of C correspond to a larger penalty, and large values of C correspond to a smaller penalty.

Try out the following values for C and note how the coefficients and the model's performance on both the dataset it was trained on and on the validate split are affected.

C=.01, .1, 1, 10, 100, 1000

In [71]:
X_train2 = train[["age_imputed", "alone", "pclass", "sex_encoded"]]

In [72]:
X_train2.shape

(501, 4)

In [73]:
predictions

     Actual  model1  model2  model3
254       0       0       1       1
557       0       1       1       0
238       0       1       0       0
655       0       1       0       0
828       1       0       0       0
..      ...     ...     ...     ...
192       1       0       1       1
564       0       0       1       1
890       0       0       0       0
25        1       0       1       1
786       1       0       1       1

[501 rows x 4 columns]

In [74]:
model_c1 = LogisticRegression(C=.01, random_state=123)

In [75]:
model_c1.fit(X_train2, y_train)

LogisticRegression(C=0.01, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=123, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [76]:
predictions["c1_yhat"] = model_c1.predict(X_train2)

In [77]:
accuracy_score(y_train, predictions["c1_yhat"])

0.6586826347305389

In [78]:
precision_score(y_train, predictions["c1_yhat"])

1.0

In [79]:
recall_score(y_train, predictions["c1_yhat"])

0.15763546798029557

In [80]:
model_c1.coef_

array([[ 0.00172127, -0.08922916, -0.16413426, -0.45010233]])

In [81]:
model_c1.intercept_

array([0.14885565])

In [82]:
model_c2 = LogisticRegression(C=.1, random_state=123)

In [83]:
model_c2.fit(X_train2, y_train)

LogisticRegression(C=0.1, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=123, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [84]:
predictions["c2_yhat"] = model_c2.predict(X_train2)

In [85]:
accuracy_score(y_train, predictions["c2_yhat"])

0.7964071856287425

In [86]:
precision_score(y_train, predictions["c2_yhat"])

0.7700534759358288

In [87]:
recall_score(y_train, predictions["c2_yhat"])

0.7093596059113301

In [88]:
model_c2.coef_

array([[ 6.76602779e-04, -1.08917637e-01, -3.53982700e-01,
        -1.57262902e+00]])

In [89]:
model_c2.intercept_

array([1.2959395])

In [90]:
model_c3 = LogisticRegression(C=10, random_state=123)

In [91]:
model_c3.fit(X_train2, y_train)

LogisticRegression(C=10, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=123, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [92]:
predictions["c3_yhat"] = model_c3.predict(X_train2)

In [93]:
accuracy_score(y_train, predictions["c3_yhat"])

0.8203592814371258

In [94]:
precision_score(y_train, predictions["c3_yhat"])

0.7810945273631841

In [95]:
recall_score(y_train, predictions["c3_yhat"])

0.7733990147783252

In [96]:
model_c3.coef_

array([[-0.0420448 , -0.01832847, -1.26154011, -2.77098896]])

In [97]:
model_c3.intercept_

array([5.41107674])

In [98]:
model_c4 = LogisticRegression(C=100, random_state=123)

In [99]:
model_c4.fit(X_train2, y_train)

LogisticRegression(C=100, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=123, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [100]:
predictions["c4_yhat"] = model_c4.predict(X_train2)

In [101]:
accuracy_score(y_train, predictions["c4_yhat"])

0.8223552894211577

In [102]:
precision_score(y_train, predictions["c4_yhat"])

0.7794117647058824

In [103]:
recall_score(y_train, predictions["c4_yhat"])

0.7832512315270936

In [104]:
model_c4.coef_

array([[-0.04461246, -0.01675127, -1.31482728, -2.82671999]])

In [105]:
model_c4.intercept_

array([5.64641909])

In [106]:
model_c5 = LogisticRegression(C=1000, random_state=123)

In [107]:
model_c5.fit(X_train2, y_train)

LogisticRegression(C=1000, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=123, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [108]:
predictions["c5_yhat"] = model_c5.predict(X_train2)

In [109]:
accuracy_score(y_train, predictions["c5_yhat"])

0.8223552894211577

In [110]:
precision_score(y_train, predictions["c5_yhat"])

0.7794117647058824

In [111]:
recall_score(y_train, predictions["c5_yhat"])

0.7832512315270936

In [112]:
predictions

,Actual,model1,model2,model3,c1_yhat,c2_yhat,c3_yhat,c4_yhat,c5_yhat
254,0,0,1,1,0,1,0,0,0
557,0,1,1,0,0,0,1,1,1
238,0,1,0,0,0,0,0,0,0
655,0,1,0,0,0,0,0,0,0
828,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
192,1,0,1,1,0,1,1,1,1
564,0,0,1,1,0,1,1,1,1
890,0,0,0,0,0,0,0,0,0
25,1,0,1,1,0,1,1,1,1
786,1,0,1,1,0,1,1,1,1

# Decision Tree

1. Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample)
2. Evaluate your in-sample results using the model score, confusion matrix, and classification report.
3. Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [118]:
titanic = acquire.get_titanic_data()
scaler, encoder, train, test = prepare.prep_titanic(titanic)
train, validate = sklearn.model_selection.train_test_split(train, train_size=.75, random_state=123)

In [117]:
train.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,alone,age_imputed,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton,age_imputed_scaled,fare_scaled
254,254,0,3,female,41.0,0,2,20.2125,S,Third,0,41.000000,0.0,0.0,1.0,0.509927,0.039452
557,557,0,1,male,NaN,0,0,227.5250,C,First,1,29.934329,1.0,0.0,0.0,0.370876,0.444099
238,238,0,2,male,19.0,0,0,10.5000,S,Second,1,19.000000,0.0,0.0,1.0,0.233476,0.020495
655,655,0,2,male,24.0,2,0,73.5000,S,Second,0,24.000000,0.0,0.0,1.0,0.296306,0.143462
828,828,1,3,male,NaN,0,0,7.7500,Q,Third,1,29.934329,0.0,1.0,0.0,0.370876,0.015127

In [115]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [116]:
clf = DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=123)

In [120]:
le = sklearn.preprocessing.LabelEncoder()
train['sex_encoded'] = le.fit_transform(train.sex)
test['sex_encoded'] = le.transform(test.sex)
validate['sex_encoded'] = le.transform(validate.sex)

In [121]:
X_train = train[["age_imputed", "alone", "pclass", "sex_encoded"]]
y_train = train[["survived"]]
X_validate = validate[["age_imputed", "alone", "pclass", "sex_encoded"]]
y_validate = validate[["survived"]]

In [122]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=123, splitter='best')

In [125]:
y_pred = clf.predict(X_train)
y_pred_proba = clf.predict_proba(X_train)

In [124]:
y_pred

array([0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1])

In [126]:
y_pred_proba

array([[1.        , 0.        ],
       [0.61016949, 0.38983051],
       [0.90041494, 0.09958506],
       ...,
       [0.90041494, 0.09958506],
       [0.38271605, 0.61728395],
       [0.38271605, 0.61728395]])

In [127]:
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(X_train, y_train)))

Accuracy of Decision Tree classifier on training set: 0.83

In [128]:
confusion_matrix(y_train, y_pred)

array([[263,  35],
       [ 48, 155]])

In [129]:
labels = sorted(y_train.survived.unique())

In [130]:
pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

     0    1
0  263   35
1   48  155

In [131]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.85      0.88      0.86       298
           1       0.82      0.76      0.79       203

    accuracy                           0.83       501
   macro avg       0.83      0.82      0.83       501
weighted avg       0.83      0.83      0.83       501

4. Run through steps 2-4 using gini as your measure of impurity.

In [133]:
#bring in the data fresh
titanic = acquire.get_titanic_data()
scaler, encoder, train, test = prepare.prep_titanic(titanic)
train, validate = sklearn.model_selection.train_test_split(train, train_size=.75, random_state=123)

#encode the gender column
le = sklearn.preprocessing.LabelEncoder()
train['sex_encoded'] = le.fit_transform(train.sex)
test['sex_encoded'] = le.transform(test.sex)
validate['sex_encoded'] = le.transform(validate.sex)

#split the data
X_train = train[["age_imputed", "alone", "pclass", "sex_encoded"]]
y_train = train[["survived"]]
X_validate = validate[["age_imputed", "alone", "pclass", "sex_encoded"]]
y_validate = validate[["survived"]]

In [135]:
clf = DecisionTreeClassifier(max_depth=3, random_state=123)
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=123, splitter='best')

In [137]:
y_pred_gini = clf.predict(X_train)
y_pred_proba_gini = clf.predict_proba(X_train)

In [139]:
y_pred_proba

array([[1.        , 0.        ],
       [0.61016949, 0.38983051],
       [0.90041494, 0.09958506],
       ...,
       [0.90041494, 0.09958506],
       [0.38271605, 0.61728395],
       [0.38271605, 0.61728395]])

In [140]:
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(X_train, y_train)))

Accuracy of Decision Tree classifier on training set: 0.83

In [141]:
confusion_matrix(y_train, y_pred)

array([[263,  35],
       [ 48, 155]])

In [142]:
labels = sorted(y_train.survived.unique())
pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

     0    1
0  263   35
1   48  155

In [143]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.85      0.88      0.86       298
           1       0.82      0.76      0.79       203

    accuracy                           0.83       501
   macro avg       0.83      0.82      0.83       501
weighted avg       0.83      0.83      0.83       501