In [1]:
import pandas as pd

#to make HTTP requests
import requests

1. Using the code from the lesson as a guide, create a dataframe named items that has all of the data for items.

In [84]:
base_url = 'https://python.zach.lol'
response = requests.get(base_url + "/documentation")
data = response.json()['payload']

In [85]:
print(response.json()['payload'])

The API accepts GET requests for all endpoints, where endpoints are prefixed
with

    /api/{version}

Where version is "v1"

Valid endpoints:

- /stores[/{store_id}]
- /items[/{item_id}]
- /sales[/{sale_id}]

All endpoints accept a `page` parameter that can be used to navigate through
the results.

In [86]:
response = requests.get('https://python.zach.lol/api/v1/items')
data = response.json()

In [87]:
# This variable is just a dictionary, we can get the keys with .keys
data.keys()

dict_keys(['payload', 'status'])

In [88]:

data["payload"].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [89]:
first_page_of_items = data["payload"]["items"]

In [90]:
url_for_second_page = data["payload"]["next_page"]
response = requests.get("https://python.zach.lol" + url_for_second_page)
second_page_of_items = data["payload"]["items"]

In [91]:
url_for_third_page = data["payload"]["next_page"]
response = requests.get("https://python.zach.lol" + url_for_third_page)
third_page_of_items = data["payload"]["items"]

In [92]:
items = []
items = first_page_of_items + second_page_of_items + third_page_of_items
items = pd.DataFrame(items)

In [99]:
items.shape

(60, 6)

In [97]:
def get_items():
    response = requests.get('https://python.zach.lol/api/v1/items')
    data = response.json()
    
    first_page_of_items = data["payload"]["items"]
    
    url_for_second_page = data["payload"]["next_page"]
    response = requests.get("https://python.zach.lol" + url_for_second_page)
    second_page_of_items = data["payload"]["items"]
    
    url_for_third_page = data["payload"]["next_page"]
    response = requests.get("https://python.zach.lol" + url_for_third_page)
    third_page_of_items = data["payload"]["items"]
    
    items = []
    items = first_page_of_items + second_page_of_items + third_page_of_items
    items = pd.DataFrame(items)
    
    return items

In [100]:
items_func = get_items()

In [102]:
items_func.shape

(60, 6)

2. Do the same thing, but for stores

In [28]:
response = requests.get('https://python.zach.lol/api/v1/stores')
data = response.json()

In [31]:
# This variable is just a dictionary, we can get the keys with .keys
data["payload"].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'stores'])

In [32]:
first_page_of_stores = data["payload"]["stores"]

In [34]:
stores = pd.DataFrame(first_page_of_stores)

In [50]:
stores.shape

(10, 5)

In [51]:
def get_store_data():
    response = requests.get('https://python.zach.lol/api/v1/stores')
    data = response.json()
    first_page_of_stores = data["payload"]["stores"]
    stores = pd.DataFrame(first_page_of_stores)
    return stores

In [52]:
stores = get_store_data()

In [53]:
stores.shape

(10, 5)

3. Extract the data for sales. There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [60]:
def get_sale_data_from_api():
    BASE_URL = 'https://python.zach.lol'
    API_BASE = BASE_URL + '/api/v1'
    
    url = API_BASE + '/sales'
    response = requests.get(url)
    data = response.json()
    
    sales = data['payload']['sales']

    while data['payload']['next_page'] is not None:
        print('On page {} of {}'.format(data['payload']['page'] + 1, data['payload']['max_page']))
        url = BASE_URL + data['payload']['next_page']
        response = requests.get(url)
        data = response.json()
        sales += data['payload']['sales']

    return pd.DataFrame(sales)

In [72]:
# sales = get_sale_data_from_api()

On page 2 of 183
On page 3 of 183
On page 4 of 183
On page 5 of 183
On page 6 of 183
On page 7 of 183
On page 8 of 183
On page 9 of 183
On page 10 of 183
On page 11 of 183
On page 12 of 183
On page 13 of 183
On page 14 of 183
On page 15 of 183
On page 16 of 183
On page 17 of 183
On page 18 of 183
On page 19 of 183
On page 20 of 183
On page 21 of 183
On page 22 of 183
On page 23 of 183
On page 24 of 183
On page 25 of 183
On page 26 of 183
On page 27 of 183
On page 28 of 183
On page 29 of 183
On page 30 of 183
On page 31 of 183
On page 32 of 183
On page 33 of 183
On page 34 of 183
On page 35 of 183
On page 36 of 183
On page 37 of 183
On page 38 of 183
On page 39 of 183
On page 40 of 183
On page 41 of 183
On page 42 of 183
On page 43 of 183
On page 44 of 183
On page 45 of 183
On page 46 of 183
On page 47 of 183
On page 48 of 183
On page 49 of 183
On page 50 of 183
On page 51 of 183
On page 52 of 183
On page 53 of 183
On page 54 of 183
On page 55 of 183
On page 56 of 183
On page 57 of 183
On page 58 of 183
On page 59 of 183
On page 60 of 183
On page 61 of 183
On page 62 of 183
On page 63 of 183
On page 64 of 183
On page 65 of 183
On page 66 of 183
On page 67 of 183
On page 68 of 183
On page 69 of 183
On page 70 of 183
On page 71 of 183
On page 72 of 183
On page 73 of 183
On page 74 of 183
On page 75 of 183
On page 76 of 183
On page 77 of 183
On page 78 of 183
On page 79 of 183
On page 80 of 183
On page 81 of 183
On page 82 of 183
On page 83 of 183
On page 84 of 183
On page 85 of 183
On page 86 of 183
On page 87 of 183
On page 88 of 183
On page 89 of 183
On page 90 of 183
On page 91 of 183
On page 92 of 183
On page 93 of 183
On page 94 of 183
On page 95 of 183
On page 96 of 183
On page 97 of 183
On page 98 of 183
On page 99 of 183
On page 100 of 183
On page 101 of 183
On page 102 of 183
On page 103 of 183
On page 104 of 183
On page 105 of 183
On page 106 of 183
On page 107 of 183
On page 108 of 183
On page 109 of 183
On page 110 of 183
On page 111 of 183
On page 112 of 183
On page 113 of 183
On page 114 of 183
On page 115 of 183
On page 116 of 183
On page 117 of 183
On page 118 of 183
On page 119 of 183
On page 120 of 183
On page 121 of 183
On page 122 of 183
On page 123 of 183
On page 124 of 183
On page 125 of 183
On page 126 of 183
On page 127 of 183
On page 128 of 183
On page 129 of 183
On page 130 of 183
On page 131 of 183
On page 132 of 183
On page 133 of 183
On page 134 of 183
On page 135 of 183
On page 136 of 183
On page 137 of 183
On page 138 of 183
On page 139 of 183
On page 140 of 183
On page 141 of 183
On page 142 of 183
On page 143 of 183
On page 144 of 183
On page 145 of 183
On page 146 of 183
On page 147 of 183
On page 148 of 183
On page 149 of 183
On page 150 of 183
On page 151 of 183
On page 152 of 183
On page 153 of 183
On page 154 of 183
On page 155 of 183
On page 156 of 183
On page 157 of 183
On page 158 of 183
On page 159 of 183
On page 160 of 183
On page 161 of 183
On page 162 of 183
On page 163 of 183
On page 164 of 183
On page 165 of 183
On page 166 of 183
On page 167 of 183
On page 168 of 183
On page 169 of 183
On page 170 of 183
On page 171 of 183
On page 172 of 183
On page 173 of 183
On page 174 of 183
On page 175 of 183
On page 176 of 183
On page 177 of 183
On page 178 of 183
On page 179 of 183
On page 180 of 183
On page 181 of 183
On page 182 of 183
On page 183 of 183

In [73]:
sales.shape

(913000, 5)

4. Save the data in your files to local csv files so that it will be faster to access in the future.

In [76]:
sales.to_csv('sales.csv', index=False)

In [77]:
sales = pd.read_csv('sales.csv')

In [78]:
sales.head()

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2     1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3     1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4     1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1

5. Combine the data from your three separate dataframes into one large dataframe.

In [82]:
items.shape

(10, 6)

In [79]:
sales = sales.rename(columns={"item": "item_id", "store": "store_id"})

In [80]:
sales.head()

   item_id  sale_amount                      sale_date  sale_id  store_id
0        1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1         1
1        1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2         1
2        1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3         1
3        1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4         1
4        1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5         1

In [105]:
sales = sales.merge(items, on="item_id").merge(stores, on="store_id")
sales.sample(10)

KeyboardInterrupt:

In [107]:
def get_all_data():
    sales = pd.read_csv('sales.csv')
    sales = sales.rename(columns={"item": "item_id", "store": "store_id"})
    items = get_items()
    stores = get_store_data()
    
    df = sales.merge(items, on="item_id").merge(stores, on="store_id")
    
    return df

In [108]:
all_data = get_all_data()

In [109]:
all_data.sample(4)

,item_id,sale_amount,sale_date,sale_id,store_id,item_brand,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_state,store_zipcode
1019265,7,52.0,"Tue, 30 Apr 2013 00:00:00 GMT",126114,10,Twinings Of London,Twinings Of London Classics Lady Grey Tea - 20 Ct,9.64,70177154004,70177154004,8503 NW Military Hwy,San Antonio,TX,78231
974105,18,67.0,"Wed, 08 Feb 2017 00:00:00 GMT",326528,9,Scotch,Scotch Removable Clear Mounting Squares - 35 Ct,4.39,21200725340,21200725340,735 SW Military Dr,San Antonio,TX,78221
199392,17,27.0,"Tue, 30 Dec 2014 00:00:00 GMT",294715,2,Ducal,Ducal Refried Red Beans,1.16,88313590791,88313590791,9255 FM 471 West,San Antonio,TX,78251
462810,5,19.0,"Sat, 06 Jun 2015 00:00:00 GMT",81231,5,Back To Nature,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036,1520 Austin Hwy,San Antonio,TX,78218